
.env


__pycache__/
*.pyc


data/*


!data/Deliblato_granice.gpkg
!data/Deliblato_granice_bez_dunava.gpkg

!data/output/
data/output/*
!data/output/*.gif
!data/output/*.png
!data/output/*.txt

data/output/frames/
data/output/rasters/
