# Kopirati u root projekta kao  .env  (kod mene je to G:\Deliblato\.env)
# i upisati CDSE OAuth podatke.
#
# https://shapps.dataspace.copernicus.eu/dashboard/
#   -> User settings -> OAuth clients -> "Create" (ID i Secret)
#
# .env NE DIJELTI I NE STAVLJATI U GIT!!!!

SH_CLIENT_ID=ovdje-tvoj-client-id
SH_CLIENT_SECRET=ovdje-tvoj-client-secret
